<a href="https://colab.research.google.com/github/KaneRafaelCasa/CPE-21-A-PLD-1-1/blob/main/Introduction_to_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Indentation

In [3]:
if 5>3:
  print("5 is greater than 3")   #This is a comment

5 is greater than 3

Variable Declaration

In [18]:
#variable with a single value

x=5
y=3
if x<y:
  print("x is greater than y")
else:
  print("y is greater than x")


#variable with multiple values

a,b = 1,2
print("The value of a is:",a)
print("The value of b is:",b)

#multiple variable with a single value

p = q = r = "Rafael"
print(p)
print(q)
print(r)

y is greater than x
The value of a is: 1
The value of b is: 2
Rafael
Rafael
Rafael

Output Variable

In [24]:
o = 'is fun'
print("Python programming"+" "+ o) # append is fun

t = 'Python'
z = t+o
print(z)

Python programming is fun
Pythonis fun

#Casting and Type() function

In [14]:
f = int(4) #integer
g = float(4) #decimal/fractional

print(f)
print(g)

print(type(f))
print(type(g))

4
4.0
<class 'int'>
<class 'float'>

Double quote or Single quote

In [15]:
name = "Kane"
name1 = 'Casa'

print(name)
print(name1)

Kane
Casa

Case Sensitive

In [16]:
a = 'Ana'
print(a)

Ana