<a href="https://colab.research.google.com/github/KaneRafaelCasa/CPE-21-A-PLD-1-1/blob/main/Python%2C_Lists%2C_Sets%2C_Tuples%2C_and_Dictionaries.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
#Lists

pi = 3.14159
varList = [1,2,'A','B', "Hello", pi]
print(varList[0])

varList.append("World")
len(varList)

varList.remove(pi)
print(varList)

1
[1, 2, 'A', 'B', 'Hello', 'World']

In [11]:
#Python Dictionary

thisdict = {
           "name": "Ana",
            "age": 25,
            "bday": "January 9, 2012",
            "age": 26
}

print(thisdict)

{'name': 'Ana', 'age': 26, 'bday': 'January 9, 2012'}

In [16]:
varList = [0,1,2,3,4,]
print(varList)                            #0
varList = range(0,5,4)                   #0+4 = 4
print([var for var in varList])          #4+4 = 4

[0, 1, 2, 3, 4]
[0, 4]

In [22]:
#List Generators and Comprehension

def gen_num_up_to(n):
  num = 0
  while num < n:
    yield num
    num += 1

gen_num_up_to(5)

varList = gen_num_up_to(5)
print([var for var in varList])

[0, 1, 2, 3, 4]

In [24]:
def gen_num_up_to(n):
  num = 0
  while num < n:
    yield num
    num += 2

varList = gen_num_up_to(5)
print([var for var in varList])

varList = range(0, 5, 2)
print([var for var in varList])

[0, 2, 4]
[0, 2, 4]

In [26]:
#Slice() Function

varList = [1,2,3,4,5,6,7,8,9,10]
print(varList[:5])

print(varList[5:])      #list ( start :)

print(varList[-2:])     #list ( start :)

print(varList[:-2])     #list ( : end )

print(varList[2:-2])    #list (start : end )

print(varList[2:8:2])   #list (start : end : step )

[1, 2, 3, 4, 5]
[6, 7, 8, 9, 10]
[9, 10]
[1, 2, 3, 4, 5, 6, 7, 8]
[3, 4, 5, 6, 7, 8]
[3, 5, 7]